<form id="delete-form-@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <button type="button" class="btn btn-danger"
            onclick="deleteMenuItem(@Model.Id)">
        Delete
    </button>
</form>



@section Scripts {
    <script src="~/js/men_D.js"></script>

}

