@model Restaurant_Management_System.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow rounded-4">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Welcome Back</h4>
            </div>
            <div class="card-body">
                <form id="loginForm" method="post">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label" ></label>
                        <input asp-for="Email" class="form-control" id="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" type="password" id="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="RememberMe" class="form-check-input" id="RememberMe" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/login.js"></script>

   
}


